body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
/* <!-- hero section  --> */
.hero {
  height: 90vh;
  position: relative;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero > div {
  position: absolute;

  top: 30vh;
  left: 10vw;
  background: rgba(105, 105, 105, 0.459);
  width: 550px;
  padding: 1rem;
  border-radius: 10px;
  color: rgb(176, 174, 194);
  backdrop-filter: blur(5px);
}
.down {
  font-size: 5rem;
  color: orangered;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: rotate(90deg);
  animation: godown 1s infinite;
}
@keyframes godown {
  0% {
    bottom: 80px;
    left: 50%;
  }
  100% {
    bottom: 10px;
    left: 50%;
  }
}
/* <!-- navbar  --> */
nav {
  background: black;
  color: orange;

  position: sticky;
  top: 0;
}
nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
nav ul {
  display: flex;
  gap: 1rem;
}
nav ul li {
  list-style-type: none;
}
nav ul li:hover {
  color: red;
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.5s;
}
/* <!-- paragraph  --> */

/* <!-- image  --> */

[class^="img"] {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  background: rgba(10, 10, 10, 0.781);
  color: white;
  font-size: 2rem;
  padding: 1.4rem 5rem;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  backdrop-filter: blur(2px);
}

.img1 {
  background: url(./assets/a.jpg) no-repeat center;
  background-size: cover;
}
.img2 {
  background: url(./assets/b.jpg) no-repeat center;
  background-size: cover;
}
.img3 {
  background: url(./assets/c.jpg) no-repeat center;
  background-size: cover;
}
.img4 {
  background: url(./assets/d.jpg) no-repeat center;
  background-size: cover;
}
